# Ignore compiled Java files
*.class

# Optional (recommended)
*.log
*.jar
*.war
*.ear
bin/
build/
out/
venv

tempCodeRunnerFile.java
OOPs/oop_lld_interview_guide.md
OOPs

__pycache__
tempCodeRunnerFile.py

practice.db
SQL